@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800");

body {
    font-family: "Roboto Slab", serif;
}

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.accent {
    color: #f0720d;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position:fixed;  
  z-index:1;
  width: 100%;
}

.topnav #myLinks {
  display: none;
  text-align: center;
  background-color: rgb(243, 243, 243);
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

.active {
  background-color: #ddd;
  color: rgb(0, 0, 0);
}

.nav-logo {
    width: 50%;
}

/* Landing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.landing {
    height: 100vh;
    background-image: url("../images/mobile_bg.png");
}

.landing-title {
    margin-top: 65%;
    font-weight: 300;
}

/* Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.quote {
    text-align: center;
    margin: 70px 0;
}

.section-heading {
    text-align: center;
}

.row p {
    text-align: justify;
}
